### **Task - 4**

**Flag set of APMC/mandis and commodities with highest price fluctuation across different commodities in each relevant season, and year.**

In [7]:
import pandas as pd
from scipy.stats import variation

In [16]:
def highest_price_fluctuations(df):
    data=[]
    commodities = df["combination_label"].unique().tolist()
    for commodity in commodities:
        df_temp = df[df["combination_label"]==commodity]
        value = variation(df_temp["max_price"]) #returns variation coefficients = std deviation/mean
        data.append((commodity,value))
    data.sort(key=lambda x:x[1], reverse=True)
    data=[x[0] for x in data[:20]] #top 20 commodities cluster name
    return data

In [17]:
df = pd.read_csv("seasonal_data_analysis.csv")

**Top 20 APMC and Commodities cluster with highest fluctuations**

In [18]:
fluctuation = highest_price_fluctuations(df)

In [19]:
fluctuation

['Barshi:brinjal',
 'Barshi:tomato',
 'Barshi:cabbage',
 'Barshi:green chilli',
 'Barshi:flower',
 'Barshi:lemon',
 'Barshi:cluster bean',
 'Barshi:cucumber',
 'Barshi:ladies finger',
 'Barshi:capsicum',
 'Barshi:bitter gourd',
 'Pune:squash gourd',
 'Vadgaon Peth:tomato',
 'Mumbai:squash gourd',
 'Aurangabad:tomato',
 'Kalvan:onion',
 'Yeola:onion',
 'Shahada:maize',
 'Pune-Pimpri:onion',
 'Solapur:papai']

In [24]:
data_main = pd.DataFrame()
for commodity in fluctuation:
    #upper threshold for comparing the max_price values  
    value=df[df["combination_label"]==commodity]["max_price"].std()*3
    
    # If a APMC/Commodity value for any month/year crosses 3 SDs (normal distribution) i.e 99 percentile, then that has high price fluctuation
    df_temp=df[(df["combination_label"]==commodity)&(df["max_price"]>value)]
    df_temp=df_temp[["APMC","Commodity","Month","Year","max_price"]]
    data_main=pd.concat([data_main,df_temp])
data_main.reset_index(drop=True)

            APMC      Commodity      Month  Year  max_price
0         Barshi        brinjal    October  2016       4163
1         Barshi         tomato       July  2016       2445
2         Barshi        cabbage       July  2016       1486
3         Barshi   green chilli       July  2016       5190
4         Barshi         flower       July  2016       1641
5         Barshi         flower    October  2016       1447
6         Barshi          lemon  September  2016       4647
7         Barshi   cluster bean    October  2016       4821
8         Barshi       cucumber    October  2016       1590
9         Barshi  ladies finger       July  2016       2105
10        Barshi  ladies finger    October  2016       2106
11        Barshi       capsicum       July  2016       3569
12        Barshi   bitter gourd       July  2016       3156
13        Barshi   bitter gourd   November  2016       2444
14          Pune   squash gourd       June  2016       6300
15  Vadgaon Peth         tomato       June  2016       6706
16        Mumbai   squash gourd      April  2016       3550
17        Mumbai   squash gourd        May  2016       3952
18        Mumbai   squash gourd       June  2016       4727
19    Aurangabad         tomato       June  2016       5528
20    Aurangabad         tomato       July  2016       3321
21        Kalvan          onion     August  2015       5111
22        Kalvan          onion  September  2015       5050
23        Kalvan          onion    October  2015       3786
24         Yeola          onion     August  2015       4840
25         Yeola          onion  September  2015       4716
26         Yeola          onion    October  2015       3602
27       Shahada          maize      April  2015       6713
28   Pune-Pimpri          onion     August  2015       4574
29   Pune-Pimpri          onion  September  2015       4593
30   Pune-Pimpri          onion   November  2015       3875
31       Solapur          papai      April  2015       1367
32       Solapur          papai       June  2015       1425
33       Solapur          papai       June  2016       1890

In [25]:
data_main.to_csv("maximum_fluctuation.csv")